/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#sign-in {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

#sign-in-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  border: 1px solid black;
}

#sign-in-form input {
  margin-bottom: 10px;
  font-size: 14px;
}

#sign-in-buttons {
  width: 150px;
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.session-button {
  border: 1px solid black;
  padding: 0 5px;
  margin: 0 5px;
  font-size: 14px;
}

.session-button:hover {
  cursor: pointer;
  color: blue;
  border: 1px solid blue;
}

.errors-list {
  width: 90%;
  height: 40px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error {
  list-style: none;
  color: red;
}

.category:hover {
  cursor: pointer;
}

.five-day-circle {
  width: 30px;
  height: 30px;
}

#navbar {
  width: 100%;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
}

#navbar a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

#new-trend-form {
  display: flex;
  flex-direction: column;
  align-items:stretch;
  width: 200px;
  margin-top: 20px;
}

#new-trend-form label {
  display: flex;
  justify-content: space-between;
}

#new-trend-form input[type=number] {
  width: 30px;
}

#new-trend-form button {
  border: 1px solid black;
  padding: 0 5px;
  margin: 0 5px;
  font-size: 14px;
  background-color: white;
}

#new-trend-form button:hover {
  cursor: pointer;
  color: blue;
  border: 1px solid blue;
}

.event-delete-button {
  border: 1px solid black;
  padding: 0 5px;
  margin: 0 5px;
  font-size: 14px;
  background-color: white;
}

.event-delete-button:hover {
  cursor: pointer;
  color: blue;
  border: 1px solid blue;
}

.event-index-item {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

#line-graph-container {
  display: flex;
  flex-direction: column;
}

#line-graph {
  margin-top: 40px;
  width: 550px;
  height: 550px;
}

#line-graph-upper {
  display: flex;
  height: 600px;
}

#line-graph-y-axis {
  display: flex;
  flex-direction: column;
  width: 50px;
  height: 720px;
  margin-top: 25px;
}

.line-graph-y-axis-label {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
}

.line-graph-y-axis-label p {
  height: 16px;
  margin-bottom: 40px;
}

#line-graph-x-axis {
  display: flex;
  margin-left: 44px;
}

#line-graph-x-axis p {
  width: 38.46px;
  text-align: right;
}

#line-graph-title {
  margin-bottom: 0;
}

#new-category-form {
  margin-top: 10px;
}

#new-category-form input {
  margin: 0 10px;
}

.add-category-button {
  border: 1px solid black;
  padding: 0 5px;
  margin: 20px 5px;
  font-size: 14px;
}

.add-category-button:hover {
  cursor: pointer;
  color: blue;
  border: 1px solid blue;
}

.category-index-header {
  width: 50px;
  vertical-align: text-top;
}

#category-index-header span {
  display: flex;
  flex-direction: column;
}

#category-index-header p {
  margin: 0;
}
